.btnWrap{
    &.center{
        text-align: center;
        &:before{
            display: none;
        }
    }
    &.right{
        text-align: right;
    }
}


button, 
.button{
    display: inline-block;  //다른태그에서 필요
    width: 100%;
    line-height: rem(42);
    // height: rem(48);
    color: $white;
    font-weight: 500;
    text-align: center;
    font-size:rem(15);
    border-radius: rem(6);
    border:1px solid $mainColor;
    background-color: $mainColor;
    cursor: pointer;
    //disable
    &:disabled,
    &.disabled{
        cursor:not-allowed;
        color: $cancel;
        background-color: $white;
        border: 1px solid $inputGray;
    }
    //버튼간격
    & + button,
    & + .button{
        margin-left: rem(4);
    }
    //사이즈
    // &.fullSize{
    //     width: 100%;
    //     line-height: rem(46);
    //     &.lowSize{
    //         width: 100%;
    //         line-height: rem(38);
    //     }
    // }
    &.auto{
        width: auto;
    }
    &.lowSize{
        // width: rem(130);
        // line-height: rem(38);
        line-height: rem(30);
    }
    // &.xsSize{
    //     width: rem(45);
    //     height: rem(35)
    // }
    &.smSize{
        min-width: rem(70);
        width: auto;
        line-height: rem(28);
        // padding: 0 rem(12);
        padding: 0 rem(6);
        font-weight: 400;
        font-size: rem(14);
    }
    &.midSize{
        min-width: rem(90);
        width: auto;
        //line-height: rem(50);
        padding: 0 rem(15);
        // &.low{
        //     line-height: rem(34);
        // }
    }
    &.laSize{
        min-width: rem(120);
        width: auto;
        //line-height: rem(48);
        padding: 0 rem(20);
        font-size: rem(16);
    }
    &.xlSize{
        min-width: rem(160);
        width: auto;
        line-height: rem(52);
        font-size: rem(18);
    }
    &.mid-lowSize{
        min-width: rem(90);
        width: auto;
        line-height: rem(34);
        padding: 0 rem(15);
    }
    //디자인
    &.ico{
        background-color: inherit;
        border: 0;
    }
    &.white{
        //width: rem(98);
        //line-height: rem(34);
        //padding: 0 rem(15);
        color: $black;
        background-color: $white;
        border: 1px solid $inputGray;
        // &.lowSize{
        //     min-width: rem(100);
        //     line-height: rem(34);
        // }
        // &.smSize{
        //     //width: rem(74);
        //     // padding: 0 rem(12);
        //     padding: 0 rem(4);
        //     line-height: rem(30);
        //     //border: 1px solid $gray;
        // }
        // &.laSize{
        //     line-height: rem(55);
        // }
        // &.xlSize{
        //     width: rem(160);
        //     line-height: rem(54);
        //     font-size: rem(18);
        //     font-weight: 700;
        // }
        &:disabled,
        &.disabled{
            color: $cancel;
            cursor:not-allowed;
        }
    }
    &.showMemo{
        line-height: rem(24);
        background: $bgColor;
        border: 1px solid $bgColor;
        &.is-active{
            .expand{
                transform: rotate(180deg);
            }
        }
    }
    &.warning{
        width: auto;
        background: $error;
        border: 1px solid $error;
    }
    &.round{
        // width: rem(64);
        // height: rem(32);
        //min-width: rem(64);
        min-width: rem(44);
        width: auto;
        padding: 0 rem(7);
        //line-height: rem(30);
        height: rem(26);
        line-height: rem(24);
        color: $black;
        font-size: rem(13);
        font-weight: 500;
        background: $white;
        //border: 1px solid $gray;
        border: 1px solid $btnGray;
        border-radius: rem(20);        
        &.disabled{
            color: $layoutColor;
            border: 1px solid $layoutColor;
        }
    }
    &.hasIco{
        @include heightArray;
    }
    &.onlyIco{
        // width: rem(40); 
        // height: rem(40);
        width: rem(44);
        height: rem(44);
        background-color: $white;
        border: 1px solid $inputGray;
        @include heightArray;
        &.xsSize{
            width: rem(20);
            min-width: auto;
            line-height: rem(20);
            height: rem(22);
        }
        &.smSize{
            padding: 0;
            width: rem(26);
            min-width: auto;
            line-height: rem(24);
            height: rem(26);
        }
        &.midSize{
            padding: 0;
            width: rem(36);
            min-width: auto;
            line-height: rem(36);
            height: rem(36);
        }
        &.lowSize{
            padding: 0;
            width: rem(32);
            min-width: auto;
            line-height: rem(30);
            height: rem(32);
        }
        &:disabled{
            opacity: .5;
        }
    }
    &.txtType{
        width: auto;
        line-height: initial;
        font-weight: 400;
        color: $subInfo;
        background: transparent;
        border:0;
    }
    //마이피플 더보기 삭제
    &.square{
        display: none;
        min-width: rem(72);
        width: auto;
        //padding: rem(3) 0;
        line-height: rem(26);
        color: $subInfo;
        font-weight: 400;
        background: $white;
        border-radius: 0;
        border:1px solid $selGray;
        &:hover{
            color: $black;
            background: $selHover;
        }
        &.is-active{
            display: block;
        }
    }
    //상태
    &.order{
        color: $highlight;
        border-color: $highlight;
    }
    &.cancel{
        color: $cancel;
        border-color: $cancel;
    }
    &.checking{
        color: $onGoing;
        border-color: $onGoing;
    }
    &.short{
        color: $delay;
        border-color: $delay;
    }
    &.reject{
        color: $delay;
        border-color: $delay;
    }
}


span{
    &.button{
        cursor:inherit;
    }
}


//라벨
.label{
    display: inline-block;
    min-width: rem(44);
    line-height: rem(22);
    color: $disable;
    font-size: rem(12);
    font-weight: 400;
    text-align: center;
    padding: 0 rem(6);
    background: $tableBorder;
    border-radius: rem(20);
    border: 0;
    //border-color: $tableBgGray;
    //cursor: inherit;
}
.point{
    display: inline-block;
    // min-width: rem(40);
    // line-height: rem(22);
    min-width: rem(30);
    line-height: rem(18);
    font-size: rem(12);
    color: $white;
    text-align: center;
    background: $delay;
    border:0;
    border-radius: rem(5);
    // margin-right: rem(4);
    cursor: inherit;
    &.mainC{
        background: $mainColor;
    }
}
.deco{
    display: inline-block;
    // min-width: rem(40);
    // line-height: rem(22);
    min-width: rem(30);
    margin: rem(2) rem(3);
    line-height: rem(23);
    //height: rem(24);
    padding: rem(1) rem(7);
    font-size: rem(12);
    color: $tooltipGray;
    text-align: center;
    background: $tableBorder;
    border:0;
    border-radius: rem(5);
    // margin-right: rem(4);
    cursor: inherit;      
}