.defaultBox{
    width: rem(360);
    padding: rem(32) 0;
    text-align: center;
    background: $white;
    border-radius: rem(5);
    border:1px solid $layoutColor;
    img{
        width: rem(40);
        border-radius: rem(13);
        margin-bottom: rem(16);
    }
    .notify{
        p{
            font-size: rem(16);
        }
    }
}

.nodata{
    //width: 100%;
    // height: auto;
    height: 100%;
    color: $disable;
    @include heightArray;
}
.yScroll{
    .nodata{
        height: 100%;
    }
}