/* 프로젝트 등록 플로팅 */
.floatingWrapper{
    width: rem(185);
    position: fixed;
    right: rem(80);
    top: 50%;
    transform: translateY(-45%);
    &.bottom{
        top:auto;
        bottom: 0;
    }
    .floating{
        padding: rem(24);
        text-align: center;
        background: $white;
        border-radius: rem(7);
        box-shadow: 0 0 25px 0 rgba(41, 41, 44, 0.17);
        & + .floating{
            margin-top: rem(10);
        }
    }
    .select{
        margin-top: rem(10);
        & + h5{
            margin-top: rem(24);
        }
    }
    button{
        display: block;
        width: rem(100) !important;
        margin: rem(13) auto;
    }
}