footer{
    width: 100%;
    color: $footerGray;
    font-size: rem(13);
    text-align: center;
    margin-top: rem(160);
    &.toast{
        //min-width: rem(1920);
        width: calc(100% + 60px);
        height: rem(102);
        margin-top: 0;
        padding: rem(24) rem(40);
        @include sideArray;
        color:$white;
        background: rgba($black, .6);
        position: absolute;
        left: -60px;
        bottom: -120px;
        z-index: 101;
        transition: all 1s;
        &.is-active{
            bottom:0;
        }
        // h5{
        //     @include heightArray;
        // }
        button{
            border:0;
             + button{
                margin-left: rem(20);
             }
        }
    }
}

