
.ico{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/icoGroup.png);
    //공통
    &.search{
        width: rem(18);
        height: rem(18);
        background-position: -80px 0px;
    }
    // &.showPw{
    //     width: rem(18);
    //     height: rem(18);
    //     background-position: -80px 0px;
    // }    
    &.download{        
        width: rem(18);
        height: rem(18);
        background-position: -40px 0;
    }
    &.filter{
        width: rem(18);
        height: rem(18);
        background-position: -60px 0;
        position: relative;
        &.is-active{
            &:after{
                content:'';
                width: rem(14);
                height: rem(14);
                background-position: -40px -40px;
                background-image: url(../img/icoGroup.png);
                position: absolute;
                bottom: -4px;
                right: -8px;

                
                // width: rem(4);
                // height: rem(4);
                // border-radius: 50%;
                // background: $mainColor;
                // position: absolute;
                // top: -6px;
                // left: rem(18);
            }
        }
    }
    &.file{
        width: rem(16);
        height: rem(18);
        background-position: -80px -40px;
    }
    &.fileUpload{
        width: rem(20);
        height: rem(20);
        background-position: -140px 0;
    }
    &.delete{
        width: rem(13);
        height: rem(12);
        vertical-align: inherit;
        background-position: -60px -20px;
        cursor:pointer;
    }
    &.delete_bin{
        width: rem(18);
        height: rem(18);  
        vertical-align: inherit;
        background-position: -60px -40px;
        cursor:pointer;
    }
    &.refresh{
        width: rem(20);
        height: rem(18);
        background-position: -180px 0;
    }
    &.setting{
        width: rem(18);
        height: rem(18);
        vertical-align: sub;
        background-position: -100px 0;
        cursor:pointer;
    }
    &.sort{
        width: rem(18);
        height: rem(3);
        background-position: -120px -20px;
    }
    &.change{
        width: rem(20);
        height: rem(18);
        background-position: -160px 0;
        cursor: pointer;
    }
    &.more{
        width: rem(3); 
        height: rem(18);
        background-position: -100px -20px;
    }
    &.smClose{
        width: rem(12);
        height: rem(12);    
        vertical-align: -1px;
        background-position: -60px -20px;
        cursor: pointer;
        &.w{
            background-position: -80px -20px;
        }
    }
    &.layerClose{
        width: rem(18);
        height: rem(18);
        background-position: -40px -20px;
    }
    &.plus{
        width: rem(18);
        height: rem(18);
        background-position: -20px -180px;
    }
    &.minus{
        width: rem(18);
        height: rem(2);
        background-position: 0 -180px;
    }
    &.smPlus{
        width: rem(12);
        height: rem(12);
        background-position: -60px -180px;
    }
    &.smMinus{
        width: rem(12);
        height: rem(2);
        background-position: -40px -180px;
    }
    &.qMark{
        width: rem(18);
        height: rem(18);
        vertical-align: -4px;
        background-position: -120px 0;
    }
    &.qMark2{
        width: rem(18);
        height: rem(18);
        background-position: -160px -20px;
    }
    &.top{
        width: rem(34);
        height: rem(34);
        background-position: -40px -60px;
    }
    &.bottom{   //안쓰임? ㅇㅇ
        width: rem(34);
        height: rem(34);
        background-position: -60px -60px;
    }
    //카운팅 up, down
    &.up{
        width: rem(13);
        height: rem(9);
        background-position: -120px -180px;
    }
    &.note{   //메모 신규추가
        width: rem(20);
        height: rem(22);
        background-position: -140px -40px;
    }
    &.down{
        width: rem(13);
        height: rem(9);
        background-position: -140px -180px;
    }
    &.pull{
        width: rem(18);
        height: rem(18);
        background-position: -40px -160px;
    }
    &.push{
        width: rem(18);
        height: rem(18);
        background-position: -60px -160px;
    }
    &.expand{
        width: rem(12);
        height: rem(6);
        background: url(../img/icoSelect.png) no-repeat;
    }
    &.sel_g{
        width: rem(15);
        height: rem(6);
        background: url(../img/icoSelect_g.png) no-repeat;
    }
    &.list{
        width: rem(18);
        height: rem(12);
        background-position: -140px -20px;
    }
    //페이징
    // &.left{
    //     width: rem(12);
    //     height: rem(20);
    //     background-position: 0 -60px;
    //     &.is-active{
    //         background-position: -20px -60px;
    //     }
    // }
    // &.right{
    //     width: rem(12);
    //     height: rem(20);
    //     background-position: 0 -80px;
    //     &.is-active{
    //         background-position: -20px -80px;
    //     }
    // }
    // &.left2{
    &.pagingLeft{
        width: rem(10);
        height: rem(18);
        background-position: 0 -100px;
        &.is-active{
            background-position: -20px -100px;
        }
    }
    // &.right2{
    &.pagingRight{
        width: rem(10);
        height: rem(18);
        background-position: 0 -120px;
        &.is-active{
            background-position: -20px -120px;
        }
    }
    // &.left2_dou{        
    &.pagingFirst{        
        width: rem(13);
        height: rem(18);
        background-position: 0 -140px;
        &.is-active{
            background-position: -20px -140px;
        }
    }
    &.pagingLast{        
        width: rem(13);
        height: rem(18);
        background-position: 0 -160px;
        &.is-active{
            background-position: -20px -160px;
        }
    }
}
/* HEADER 아이콘 */
.header{
    .ico{
        width: rem(24);
        height: rem(24);
        background-image: url(../img/icoGnb.png);
        &.info{        
            background-position: 0px 0px;
        } 
        &.setting{        
            background-position: 30px 30px;
        }
    }
}

/* GNB 아이콘 */
.gnb{
    .ico{        
        width: rem(22);
        height: rem(22);
        background-image: url(../img/icoGnb.png);
        &.ctrlBtn{
            background-position: 0px 0px;
        }
        &.home{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0px;
            }
        }
        &.member{
            background-position: -30px -30px;
            &.gray{
                background-position: -60px -30px;
            }
        }
        &.project{
            background-position: -30px -60px;
            &.gray{
                background-position: -60px -60px;
            }
        }
        &.homepage{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.event{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.ask{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.stats{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.admin{
            width: rem(24);
            height: rem(24);
            background-position: -30px -90px;
            &.gray{
                background-position: -60px -90px;
            }
        }
        &.system{
            background-position: -30px -120px;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.commonCode{
            background-position: -30px 0;
            &.gray{
                background-position: -60px -120px;
            }
        }
    }
}