.layerOpen{
    cursor: pointer;
}

.modalLayer{
    position: absolute;
    display: none;
    visibility: hidden;
    z-index: 1000;
    &.is-active{
        display: block;
        visibility: visible;
    }
    &.center{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
    }    
    .layerBox{
        position: relative;
        overflow-y: auto;
        width: rem(570);
        max-height: 95%;
        padding: rem(30);
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $white;
        border-radius: rem(4);
        z-index: 10;
        &.confirmType{
            width: rem(330);
            padding: rem(30) rem(40);
            .modalFooter{
                @include flex_1_1;
                button{        
                    flex: 1 1 0;
                }
            }
        }
        &.filterType{
            width: rem(270);

            top: 20px;
            left: 0;
            transform: inherit;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.5);

            .modalHeader{
                margin-top: -8px;
                margin-right: -12px;
            }
            .modalCont{
                margin-top: 0;
            }
            &.laSize{
                width: rem(560);
            }
        }
        &.smSize{
            width: rem(380);
            padding: rem(45);
            .modalHeader{
                margin-top: -16px;
                margin-right: -16px;
            }
        }
        &.sm-midSize{
            width: rem(550);
            .modalFooter{
                width: rem(120);
                margin: rem(20) auto;
            }
        }
        &.midSize{
            width: rem(800);
        }
        &.mid-laSize{
            width: rem(1000);
            padding: rem(40) rem(30);
        }
        &.laSize{
            width: auto;
            max-width: rem(1450);
            overflow-x: auto;
            padding: rem(40) rem(38);
            max-height: calc(100% - 100px);
            .modalFooter{
                width: rem(240);
                margin: rem(20) auto;
                margin-bottom: 0;
            }
            .flex_2_1{
                width: 100%;
                min-width: rem(1350);
            }
        }
        &.fullSize{
            width: auto;
            max-width: rem(1880);
            overflow-x: auto;
            padding: rem(40) rem(38);
            max-height: calc(100% - 100px);
            .modalFooter{
                width: rem(240);
                margin: rem(40) auto;
            }
            .flex_2_3{
                width: rem(1790);
                //투입상세정보 팝업 (table 확장)
                &.is-active{
                    // width: 120%;
                    width: rem(2000);
                }
            }
            .flex_2_1{
                width: 100%;
                min-width: rem(1790);
            }
        }
    }
    .layerDim{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        z-index: 5;
    }
    .tit{
        font-size: rem(18);
        font-weight: 700;
        text-align: left;
        line-height: rem(18);
    }
}

.modalHeader{
    text-align: center;
    @include clear_float;
    .layerClose{
        float: right;
    }
    h3{
        margin-bottom: rem(20);
    }
}
.modalCont{
    margin-top: rem(10);
    position: relative;
    &.center{
        text-align: center;
        .select{
            // margin:0 auto;
            margin:rem(10) auto;
            text-align: left;
        }
    }
    h2{
        text-align: center;
        margin-bottom: rem(26);
    }
    h3{
        text-align: center;
        & + .filterList{
            margin-top: rem(10);
        }
    }
    .tabBtnWrap{
        justify-content: center;
    }
    .inputList{
        margin-top: rem(30);
    }
    .flexBw{
        font-size: rem(14);
        color:$subInfo;
        margin-top: rem(10);
        label{
            font-weight: 400;
            // font-size: rem(14);
            & + .hasTooltip{
                margin-left: rem(3);
            }
        }
    }
    .suffix{
        margin-left: rem(12);
    }
    .flex_1_2{
        padding-bottom: rem(45);
    }
    .tableTop{
        margin-top: rem(30);
        height: rem(46);
    }
    table{
        table-layout: inherit;
        .select{
            .optionList{
                max-height: rem(110);
            }
        }
        // .select{
        //     .optionList{
        //         overflow-y: initial;
        //         .yScroll{
        //             max-height: rem(110);
        //             &::-webkit-scrollbar-track {
        //               background-color: transparent;
        //             }
        //             &::-webkit-scrollbar-thumb {
        //               background-clip: padding-box;
        //               border: 2px solid transparent;
        //             }
        //         }
        //     }
        // }
    }
    .tabType{
        input[type=radio]{
            & + label{
                width: auto;
                padding: 0 rem(10);
            }
        }
    }  
    .filterList{
        margin-top: 0;
        .btnType{
            display: flex;
            justify-content: space-between;            
            input[type=radio]{
                + label{
                    margin-right: 0;
                }
            }
        }
    }
    .alertToast{
        bottom: 5%;
        left: 48%;
        transform: translate(-50%, -50%);
    }
    .divideBox{
        margin-top: rem(30);
    }
}
.modalFooter{
    margin-top: rem(30);
    @include flex_2_3;  //기본 2:3
    // &.pagingType{
    //     padding: rem(40);
    //     //@include heightArray;
    // }
    button{        
        flex: 2 1 0;
        + button{
            flex: 3 1 0;
            margin-left: rem(10);
        }
    }
    // button{
    //     + button{
    //         margin-left: rem(10);
    //     }
    // }
    // &.flex_2_3{
    //     button{        
    //         flex: 2 1 0;
    //         + button{
    //             flex: 3 1 0;
    //             margin-left: rem(10);
    //         }
    //     }
    // }
}
.modalInfo{
    font-size: rem(14);
    margin-top: rem(40);
    padding-top: rem(20);
    position: relative;
    &::before{
        content:'';
        width: calc(100% + 90px);
        height: 1px;
        background: $layoutColor;
        position: absolute;
        top: 0;
        left: -45px;
    }
    p{
        font-weight: 500;
    }
    .list{
        color: $subInfo;
        li{
            // margin-left: rem(12);
            margin-top: rem(14);
            position: relative;
            &::before{
                content:'';
                width: 5px;
                height: 1px;
                background: $subInfo;
                position: absolute;
                top: rem(10);
                left: -9px;
            }
        }
    }
}

// //토스트팝업
// .alertToast{
//     position: absolute;
//     color: $white;
//     text-align: left;
//     padding: rem(5) rem(10);
//     padding-right: rem(30);
//     background: $tooltipGray;
//     box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
//     border-radius: rem(5);
//     display: none;
//     z-index: 1;
//     .ico{
//         position: absolute;
//         top: 50%;
//         right: rem(10);
//         transform: translateY(-5px);
//     }
//     &.is-active{
//         display: block;
//     }
// }

#showLevel{
    .tabCont{
        overflow-y: auto;
        height: 360px;
    }
    .empty{
        display: inline-block;
        width: rem(40);
    }
    input{
        margin:0 2px;
        text-align: center;
    }
}

#investDetail{
    .flex{
        .prefix{flex: 1 1 45%;}
        .suffix{flex: 2 1 55%;}    
    }
    .ellipsis{
        width: rem(100);
        display: inline-block;
        //line-height: rem(49);
        line-height: rem(33);
        padding: 0 rem(14);
    }
    // table{
    //     &.hasInput{
    //         tr{
    //             td{
    //                 height: rem(40);
    //                 //padding: rem(3);
    //             }
    //         }
    //     }
    // }
    // .selDefault{
    //     &.low{
    //         line-height: rem(28);
    //     }
    // }
}

//스킬관리 - 분류관리 팝업 
#group-admin{
    .left{
        width: 30%;
        .btnType{
            margin-bottom: rem(10);
            height: rem(380);
            overflow-y: auto;
        }
    }
    .right{
        width: 70%;
    }
}

//스킬관리 - 사용량 조회 팝업
#amount-chk{
    .tableTop{
        justify-content: flex-end;
    }
    .tableBox{
        height: rem(500);
        overflow-y: auto;
    }
}