.myProjList{
    .boxListWrap{    
        // height: calc(100vh - 164px);
        height: calc(100vh - 124px);
    }
    .boxList{
        // height: rem(115);
    }
    .nodata{
        font-size: rem(14);
    }
}

.myProjDetail{
    // transition: all .3s;
    @include scroll_0;
    .wrap{
        //width: calc(100% - 710px);
        width: calc(100% - 260px);
        //width: calc(100% - 310px);
        position: absolute;
        bottom: rem(15);
        > div{
            padding-right: rem(330);
        }
    }
    .boxWrap{
        padding: rem(20) rem(20) rem(18);   
        padding-bottom: rem(10);
        &.headType{
            padding: rem(16) rem(20);
        }
        &.prefix{
            width: rem(500);
        }
        &.suffix{
            margin-left: rem(10);
            h4{
                text-align: center;
            }
            .yScroll{                
                padding-right: rem(10);
                // height: rem(130);
                height: rem(110);
            }
        }
        &.sticky{
            margin-top: rem(15);
            padding: 0;
            font-size: rem(16);
            position: relative;
            .tabBtnWrap{
                padding-top: rem(8);
            }
            .tabContWrap{
                padding: rem(20);
                padding-top: 0;
            }
            .yScroll{
                // height: calc(100vh - 530px);
                height: calc(100vh - 514px);
                margin-top: 0;
                transition: height 0.3s;                
                @include scroll_0;
                &.is-active{
                    height: calc(100vh - 260px);
                }
                .tableBox{
                    overflow-y: visible;
                }
            }
            .filterWrapper{
                left: auto;
                right: -205px;
                top: -1px;
                font-size: rem(14);
            }
            th{
                position: relative;
                .filterWrapper{
                    min-width: rem(130);
                    top: rem(50);
                    left: 50%;
                    right: auto;
                    transform: translateX(-50%);
                }
            }
        }
        .boxType{              
            max-height: rem(120);
            margin-top: rem(30);
            // padding-bottom: rem(10);
            padding-bottom: rem(6);
            overflow-x: auto;
        }
        .yScroll{
            height: calc(100vh - 800px);
            margin-top: rem(10);
            .tit{
                margin-top: rem(16);
                &:first-child{
                    margin-top: 0;
                }
            }
        }
        .boxList{                
            width: 100%;
            color: $subInfo;
        }
        >.bottom{
            margin-top: rem(7);
            text-align: right;
        }
    }
    .nodata{
        height: 100%;
    }
    table{
        tr{
            &.nodata{
                display: table-row;
                background: transparent;
                td{
                    height: rem(340);   
                }
            }
        }
        th{
            position: relative;
        }
        //요청 추가 -ys
        // textarea{
        //     &::placeholder{
        //         color: $inputGray;
        //     }
        // }
        td{
            &.txtCenter span.eHigh {  //추가    
                display: block;
                text-align: center;
            }
        }
    }
    .wrapBottom{
        .hasTooltip{
            .ellipsis{
                width: 100%;
                padding: 0 rem(4);
                font-size: rem(12);
            }
        }
    }
}