.paging{
    text-align: center;
    li{
        display: inline-block;
        vertical-align: middle;
        margin: 0 rem(6);
        color: $subInfo;
        cursor: pointer;
        a{
            color : $disable;
        }
        // &.pagingDouble{
        //     margin: 0;
        // }
        &.numType{
            li{
                &:first-child,
                &:last-child{
                    margin: 0;
                }
            }
        }
        &.is-active{
            color: $black;
            font-weight: 700;
        }
    }
}

// .pagination-div{
//     // margin-top: rem(25); 230102 삭제-ys
//     ul{
//         text-align: center;
//         li{
//             display: inline-block;
//             padding: 0 rem(6);
//             vertical-align: middle;
//             cursor: pointer;
//             a{
//                 color : $disable;
//                 font-size: rem(14);
//                 // vertical-align: text-top;
//                 vertical-align: baseline;
//             }
//             &.active{
//                 a{
//                     color: $black;
//                     font-weight: 700;
//                 }
//             }
//             &.disabled{
//                 cursor:default;
//             }
//             &.first,
//             &.last{
//                 margin:0 rem(3);
//                 width: rem(13);
//                 height: rem(17);
//                 background-image: url(../img/icoGroup.png);
//                 background-position: -20px -140px;
//                 &.disabled{                    
//                     background-position: 0 -140px;
//                 }
//             }            
//             &.last{     
//                 background-position: -20px -160px;
//                 &.disabled{                    
//                     background-position: 0 -160px;
//                 }
//             }
//             &.prev,
//             &.next{
//                 margin:0 rem(3);
//                 width: rem(12);
//                 height: rem(17);
//                 background-image: url(../img/icoGroup.png);
//                 background-position: -20px -100px;
//                 &.disabled{                    
//                     background-position: 0 -100px;
//                 }
//             }
//             &.next{
//                 background-position: -20px -120px;
//                 &.disabled{                    
//                     background-position: 0 -120px;
//                 }
//             }
//         }
//     }
// }
