.sendHistory{
    position: relative;
    .tableTop{
        margin-top: rem(30);
    }
    // .alertToast{
    //     top: 28%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }
}

.sendHisDetail{
    position: relative;
    .boxWrap{
        > div{
            width: 50%;
        }
    }
    // .alertToast{
    //     top: 28%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }
}