.commonCode{
    .regiPartWrapper{
        height: calc(100vh - 140px);
    }
    .boxWrap{
        > div{
            width:70%;
        }
    }
    .left{
        .tableBox{
            margin: rem(20) 0;
            height: rem(510);
            padding-right: rem(20);
        }
    }
    .right{
        .inputList{
            height: rem(530);
        }
    }
    .hasBtn{
        input{
            width: 100%;
        }
    }
}