.memList{
    width: rem(280);
    //border-right: 1px solid $layoutColor;
    .boxListWrap{    
        height: calc(100vh - 124px);
    }
    .boxList{
        height: rem(110);
        .head{
            font-weight: 700;
        }
    }
}

.memDetail{
    width: calc(100% - 280px);
    padding: rem(30);

    // height: calc(100vh - 90px);
    // overflow-y: auto;
    .tableBox{
        height: calc(100vh - 210px);
        margin-top: rem(30);
    }
    .boxListWrap{    
        max-height: calc(100vh - 240px);
        margin-top: rem(10);
    }
    .tabBtnWrap{
        // padding: rem(30);
        // padding-bottom: rem(0);
    }
    >.tabWrapper{
        >.tabContWrap{
            margin-top: rem(30);
        }
    }
    .tabCont{
        // @include scroll_0;
        .resumeWrapper, .tableBox, .boxTop, .boxListWrap{
            // padding: 0 rem(30);
            padding-right: rem(10);
            background: transparent;
        }
    }
}


#memDetail-1,
#memDetail-3,
#memDetail-4{
    width: rem(1080);
}
#memDetail-2{
    // #proj-sap{
    //     width: rem(1080);
    // }
    .tableBox{
        margin-top: rem(10);
        max-height: calc(100vh - 240px);
    }
}

.resumeWrapper{
    font-size: rem(14);
    height: calc(100vh - 180px);
    .resuTop{
        text-align: right;
        padding-bottom: rem(10);
    }
    .resuBox{    
        height: calc(100vh - 250px);
        @include scroll_0;
    }
}
.resume{
    display: flex;
    //margin-top: rem(8);
    //height: rem(756);
    ul{
        li{
            margin: 6px 0;
            b{
                margin-right: rem(6);
            }
        }
    }
    >.prefix{
        width: rem(330);
        padding: rem(40) rem(50);
        background: $beige;
        // height: calc(100vh - 250px);
        // @include scroll_0;
        .info{
            > div{
                & + div{
                    margin-top: rem(30);
                    padding-top: rem(30);
                    border-top:1px solid $titleGray;
                }
            }
            h3{
                display: inline-block;
                & + span{
                    margin-left: rem(6);
                    font-size: rem(16);
                    letter-spacing: -0.71px;
                    color: $subGray;
                }
            }
        }
        .bottom{
            b{
                display: block;
                margin-top: rem(24);
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    >.suffix{
        padding: rem(40) rem(50);
        width: calc(100% - 330px);
        background: $white;
        // height: calc(100vh - 250px);
        // @include scroll_0;
        .resuInfo{
            + .resuInfo{
                margin-top: rem(40);
            }
            h3{
                padding-bottom: rem(14);
                color: $beigeTit;
                border-bottom: 1px solid $titleGray;
            }
            .tabCont{
                padding: 6px 0;
                .yScroll{
                    width: 100%;
                    height: rem(160);
                    word-break: break-word;
                }
            }
            .cont{
                margin-top: rem(15);
                line-height: 1.8;
                b{
                    margin-right: rem(20);
                }
                table{
                    td{
                        &:nth-child(2){
                            @include ellipsis;
                            display: block;
                            cursor: initial;
                        }
                    }
                }
            }
            &.flexBw{
                .prefix{
                    flex: 2 1 0;
                    // 이력서 선호조건 보일때 추가하기
                    margin-right: rem(20);
                }
                .suffix{
                    flex: 1 1 0;
                }
                .tabBtnWrap{
                    float: right;
                }
            }
        }
        table{
            margin-top: rem(10);
            th{
                padding-top: 0;
            }
        }
    }
    table{
        tr{
            &:hover{
                background: transparent ; 
            }
        }
    }
}