.rightAdmin{
    .regiPartWrapper{
        height: calc(100vh - 140px);
    }
    .boxWrap{
        > div{
            width: 60%;
        }
    }
    .divideBox{
        margin-top: rem(30);
        .left{
            width: 30%;
            min-width: 300px;
        }
        .right{
            width: 70%;
        }
    }
    .left{
        .btnType{
            margin-bottom: rem(10);
            height: rem(480);
            overflow-y: auto;
        }
    }
    .right{
        .inputList{
            height: auto;
            .flexBw{
                width: rem(555);
            }
        }
        .tableBox{
            height: rem(480);
            overflow-y: auto;
            border-top: 1px solid $tableBorder;
            border-bottom: 1px solid $tableBorder;
            table{
                td{
                    padding: rem(8) rem(12);
                    text-align: left;
                }
            }
        }
    }
}