.projRegister,
.memRegister{
    width: 100%;
    position: relative;
}

.projRegister{
    .inputList{
        width: 70%;
    }
}


.regiPartWrapper{
    @include scroll_0;
    height: calc(100vh - 200px);
    overflow-y: auto;
    scroll-behavior:smooth;

    padding-left: rem(180);
    padding-right: rem(280);
    transition: all 0.3s;
    &.noInfo{
        padding-left: rem(40);
        padding-right: rem(40);
    }
}
.regiPart{
    // padding-top: rem(50);
    h3{
        margin-top: rem(50);
    }
    &:last-child{
        padding-bottom: rem(50);
    }
    .boxWrap{
        margin-top: rem(20);
        padding: rem(40);
        &.noTit{
            margin-top: rem(50);
        }
        .inputList{
            .full{
                input[type=text]{
                    // width: calc(100% - 253px);
                    width: calc(100% - 188px);
                }
            }
            span{
                font-weight: 300;
            }
            label{
                label{
                    float: right;
                    margin-right: 0;
                }
            }
        }
        h4{
            margin-bottom: rem(6);
            // + ul,
            // + textarea,
            // + table{
            //     margin-top: rem(6);
            //     + h3{
            //         margin-top: rem(30);
            //     }
            // }
        }
        h4,
        h6{
            font-weight: 500;
            margin-bottom: rem(10);
            &.need{
                position: relative;
                &::after{
                    content:'*';
                    margin-left: rem(4);
                }
            }
        }
        .btnType{
            display: inline-block;
        }
        .uploadBox{
            display: flex;
            align-items: end;
        }
        // .inputGroup{
        //     width: rem(400);
        //     min-height: rem(46);
        //     margin-top: rem(10);                
        //     padding: rem(7) rem(14);
        // }
        // .inputGroup{
        //     margin-top: rem(10);  
        // }
        .alertToast{
            // top: -160px;
            // left: 42%;
            //transform: translateX(-50%);
            transform: translateY(50%);
        }
        // & + h3{
        //     margin-top: rem(50);
        // }
    }
    .hasTooltip{
        cursor: default;
    }
}
