/* GNB 아이콘 */
.rPanel{
    i{        
        width: rem(30);
        height: rem(30);
        width: rem(24);
        height: rem(24);
        background-image: url(../img/icoGnb.png);
        &.searchMem{
            background-position: -120px 0px;
        }
        &.schedule{
            background-position: -120px 0px;
        }
        &.mail{

            background-position: -120px -30px;

        }
    }
}

.rPanelLayer{
    font-size: rem(14);
    .rPanelBox{
        padding: rem(20);
        height: calc(100vh - 60px);
        border: 1px solid $layoutColor;
        border-top:0;
        box-shadow: -8px 8px 10px 0 rgba(0, 0, 0, 0.2);
    }   
    .rPanelCont{  
        .yScroll{
            //height: calc(100vh - 317px);
            //height: calc(100vh - 272px);
            height: calc(100vh - 322px);
            @include scroll_0;
        }
        .hasBtn{            
            margin-bottom: rem(20);
        }
        .inputIco{
            width: calc(100% - 98px);
            //margin-bottom: rem(30);
        }
    }
    h2{
        text-align: center;
        margin-bottom: rem(26);
    }
    .filterWrapper{
        left: -199px;
        top: -1px;
    }
}

.rPanelHeader{
    @include clear_float;
    .layerClose{
        float: right;
    }
}