.styleguide{
    .clip {
        height: rem(40);
        background: $bgColor;
        padding-left: rem(10);
        margin-top: rem(80);
        margin-bottom: rem(30);
        //border-left: rem(10) solid #ccc;
        //border-bottom: rem(10) solid $bgColor;
        &.mt20{
            margin-top: rem(20);
        }
      > span{
        position: absolute;
        font-size: rem(18);
        font-weight: 500;
        line-height: rem(40);
        letter-spacing: rem(2);
        text-transform: uppercase;
      }
    }    
    hr {
        border: 0;
    }
    span{
        &.size{
            display: inline-block;
            width: rem(120) !important;
            color: $cancel;
            font-size: rem(14);

        }
    }
    .circle{
        display: inline-block;
        width: rem(130);
        height: rem(130);
        color: $white;
        text-align: center;
        border-radius: 50%;
        @include heightArray;
        & + .circle{
            margin-left: rem(20);
        }
        &.primary{
            background: $mainColor;
        }
        &.gradient{
            background: linear-gradient(to bottom, #0460d2, #1983cb, #47b892);
        }
        &.highlight{
            background: $highlight;
        }
        &.onGoing{
            background: $onGoing;
        }
        &.cancel{
            background: $cancel;
        }
        &.delay{
            background: $delay;
        }
        &.error{
            background: $error;
        }
        &.disable{
            background: $disable;
        }
    }
    .font{
        font-size: rem(30);
        margin-top: rem(30);
        p{
            line-height: rem(14);
        }
        span{
            font-size: rem(14);
            font-weight: normal;
        }
        &.thin{
            font-weight: 100;
        }
        &.light{
            font-weight: 300;
        }
        &.normal{
            font-weight: 400;
        }
        &.medium{
            font-weight: 500;
        }
        &.bold{
            font-weight: 700;
        }
        &.black{
            font-weight: 900;
        }
    }
    .icon{
        span{
            display: inline-block;
            width: rem(120);
            line-height: rem(36);
        }
        .gnb{
            padding: rem(10);
            background: $layoutColor;
        }
        .common{
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    flex: 1 1 16%;
                    max-width: rem(260);
                }
            }
        }
        .paging{
            text-align: left;
            span{
                display: block;
            }
        }
    }
    .text{
        .title{
            li{
                display: flex;
            }
            span{
                //display: inline-block;
                display: flex;
                width: rem(60);
                align-items: center;
            }
        }
    }
    .btn{
        li{
            margin-bottom: rem(10);
            display: flex;
            align-items: center;            
            span{
                display: inline-block;
                width: rem(120);
                font-size: rem(18);
                &.size{
                    color: $cancel;
                    font-size: rem(14);

                }
            }
        }
        // button.onlyIco{
        //     display: inline-block;
        // }
    }
    .input{             
        li{
            display: flex;
            align-items: center;
            margin-bottom: rem(10);
            >span{
                display: inline-block;
                width: rem(120);
                font-size: rem(18);
                &.size{
                    color: $cancel;
                    font-size: rem(14);
                }
            }
        }    
        .inputGroup{
            li{
                margin-bottom: 0;
            }
            // span{
            //     display: inherit;
            //     width: auto;
            //     line-height: normal;
            //     font-size: rem(14);
            // }
        } 
    }
    label {
        min-width: 60px;
    }
}