/* TEXTAREA */
textarea{
    width: 100%;
    vertical-align: middle;
    font-size: rem(14);
    padding: rem(8) rem(10);
    border-radius: rem(4);
    border:1px solid $inputGray;   
    resize: none; 
    &::placeholder{
        color: $placeholder;
        font-size: rem(14);
    }
    &:focus{        
        outline: 1px solid $mainColor;
    }
    &:read-only{
        color: $inputGray;
        background: $bgColor;
        &:focus{        
            border: 1px solid $inputGray;
            outline: 0;
        } 
    }
    &:disabled{
        color: $inputGray;
        background: transparent;
    }
    & + .counter{
        font-size: rem(14);
        color: $subInfo;
        text-align: right;
        margin-top: rem(10);
    }
    &.oneLine{
        padding: rem(7);
    }
    &.autoHeight{
        min-height: rem(72);
    }
    &.wideSize{
        width: rem(440);
    }
    &.laSize{
        width: rem(500);
    }
    &.need{
        border:1px solid $error;
    }
}

.counter{
    span{
        vertical-align: -1px;
    }
}

.textForm{
    display: none;
    margin-top: rem(10);
    //padding: rem(5);
    //border-radius: rem(4);
    //border:1px solid $layoutColor;
    &.is-active{
        display: block;
    }
    textarea{
        //padding: auto;
        //outline: none;
        //border: 0;    
        border:1px solid $layoutColor;    
        @include scroll_0;    
        transition: all .3s;
    }
    .btnWrap{
        margin-top: rem(10);
        .cancel{
            color: $black;
            border: 1px solid $inputGray;
        }
    }
    & + .btnWrap{
        margin-top: rem(10);
    }
}