//로그인 타이틀
h1{    
    font-size: rem(54);
    letter-spacing: -1.93px;
}
.h1_sub{
    font-size: rem(14);
    font-weight: 500;
    color: $titleGray;
}

//페이지 타이틀
.pageTit{
    @include sideArray;
    position: relative;
    padding: rem(15) rem(20);
    &::after{
        content:'';
        width: calc(100% + 40px);
        height: 1px;
        background: $titleGray;
        position: absolute;
        left: -40px;
        bottom: 0;
    }
    .breadCrumb{
        font-size: rem(20);
        font-weight: 700;
        li{
            margin-left: rem(55);
            position: relative;
            &::after{
                content:'';
                width: rem(18);
                height: rem(3);
                background: url(../img/icoGroup.png);
                //background-position: -240px 0;
                background-position: -120px -20px;
                position: absolute;
                top: 50%;
                right: -36px;
                //transform: translateY(-50%);
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            a{
                color: $titleGray;
            }
            &.is-active{
                a{
                    color: $mainColor;
                }                
            }
        }
    }
}

//페이지 타이틀
//모달 타이틀
h2{    
    font-size: rem(26);
    letter-spacing: -1.14px;
    button{
        margin-left: rem(20);
        vertical-align: 3px;
    }
}

//영역타이틀
h3,
.h3{
    font-weight: 600;
    font-size: rem(22);
    letter-spacing: -0.86px;
    + h3{
        margin-left: rem(27);
    }
    + .h3_sub{
        margin-top: rem(12);
    }
}

.h3_sub{
    color: $subInfo;
}

//페이지 영역타이틀
//컨펌 모달 타이틀
h4{
    font-size: rem(18);
    letter-spacing: -0.71px;
    .dNear{
        margin-right: rem(10);
        font-size: rem(14);
        vertical-align: 2px;
    }
}

//모달 타이틀
// h4{
//     text-align: center;
//     font-size: rem(28);
//     letter-spacing: -1px;
//     margin-bottom: rem(26);
// }

//회원상세 타이틀
// h5{
//     font-size: rem(20);
//     letter-spacing: -0.86px;
//     + h5{
//         margin-left: rem(27);
//     }
//     + .h5_sub{
//         color: $subInfo;
//         margin-top: rem(12);
//         // + button{
//         //     margin-top: rem(20);
//         // }
//     }
// }

//블록메뉴 타이틀
h5{
    font-size: rem(16);
}

h6{
    font-size: rem(14);
}