.hasTooltip{
    position: relative;
    cursor: pointer;
    .tooltip{
        visibility: hidden;
        display: block;
        position: absolute;
        //top: -25%;
        top: -155%;
        left: 50%;
        transform: translateX(-50%);   
        width: rem(100);
        color: $white;
        text-align: center;
        font-size: rem(12);
        font-weight: 300;
        //font-weight: 700;
        padding: rem(10) rem(8) ;
        border-radius: rem(4);
        background: $tooltipGray;
        z-index: 10;
        &::after{
            content: " ";
            position: absolute;
            top: 99%;
            left: 50%;
            margin-left: -6px;
            border: solid transparent;
            border-color: transparent;
            border-top-color: $tooltipGray;
            border-width: rem(6);
            pointer-events: none;
        }
        &.type2{
            width: rem(190);
            text-align: left;
            top: auto;
            // left: -87px;
            left: 50%;
            bottom: 120%;
            transform: translateX(-50%);   
        }
        &.left{
            display: none;
            visibility: visible;
            width: rem(150);
            top: 0;
            left: -205px;
            transform: translateY(-15%);
            text-align: left;
            &::after{
                top: 50%;
                left: 100%;
                margin-top: -3px;
                margin-left: 0;
                border-top-color: transparent;
                border-left-color: $tooltipGray;
            }
            &.is-active{
                display: block;
            }
            &.line1{
                top: 5%;
            }
            &.line2{
                top: 33%;
            }
            &.line3{
                top: 55%;
            }
            &.line4{
                top: 78%;
            }
            p{
                font-weight: 700;
                margin-bottom: rem(6);
            }
        }
        &.bottom{
            top: 90%;
            left: 50%;
            transform: translateX(-50%);
            &::after{
                top: -12px;
                border-top-color: transparent;
                border-bottom-color: $tooltipGray;
            }
        }
    }
    .ellipsis{
        padding: 0 rem(10);
        text-align: center;
    }
    &:hover{
        .tooltip{
            visibility: visible;
        }
    }
}