<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공통관리</title>
    
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="hasFooter">

    <section class="layoutWrapper">
        <header>
            <div class="prefix">
                <a href="#" class="logo">
                    <img src="../assets/img/icoLogo.png" alt="">
                </a>
            </div>
            <div class="suffix">
                <ul>
                    <li class="userTeam"><a href="#">시스템통합사업본부 홍길동</a></li>
                    <li><a href="#">내정보 수정</a></li>
                    <li>
                        <span aria-controls="showLevel" class="layerOpen">등급보기설정
                    </span></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
        </header>

        <section class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li class="is-active"><a href="#"><i class="ico home"></i><span class="menuTxt">홈</span><i></i></a></li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">회원</span><i></i></a></li>
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">프로젝트</span><i></i></a></li>
                        <li><a href="#"><i class="ico homepage"></i><span class="menuTxt">홈페이지</span><i></i></a></li>
                        <li><a href="#"><i class="ico event"></i><span class="menuTxt">이벤트/배너</span><i></i></a></li>
                        <li><a href="#"><i class="ico ask"></i><span class="menuTxt">고객문의</span><i></i></a></li>
                        <li><a href="#"><i class="ico stats"></i><span class="menuTxt">통계</span><i></i></a></li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico commonCode"></i><span class="menuTxt">공통코드</span><i></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>   
        
        <section class="contWrapper noRight"><!--우측패널 없는 페이지-->
            <section class="contLayout">
                
                <section class="commonCode">
                    <div class="pageTit">
                        <h2>공통코드</h2>
                    </div>
                    
                    <div class="regiPartWrapper noInfo">        
                        <div class="regiPart">
                            <!-- 230510 제거 <h3>메뉴등록</h3> -ys -->
                            <div class="boxWrap noTit"><!-- 230510 noTit 클래스 추가 -ys -->
                                <div class="divideBox">
                                    <div class="left">
                                        <div class="hasBtn">
                                            <input type="text" class="full" id="" maxlength="" placeholder="코드명, 비고내용">
                                            <button class="midSize">검색</button>
                                        </div>
                                        <div class="tableBox">
                                            <table class="tree">
                                                <tbody>
                                                    <tr class="treegrid-1 depth1 expanded"><!--첫번째 항상 열림 expanded-->
                                                        <td>
                                                            <div class="rootCont">
                                                                <span>프로젝트-1</span>
                                                                <i class="ico smPlus"></i>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr class="treegrid-2 treegrid-parent-1 depth2 noDepth"><!--위치설정 depth2, 하위메뉴 없을 때 noDepth-->
                                                        <td>
                                                            <div class="rootCont">
                                                                <span>수주 프로젝트-2</span>
                                                                <i class="ico smPlus"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="treegrid-3 treegrid-parent-1 depth2 expanded">
                                                        <td>
                                                            <div class="rootCont">
                                                                <span>수주 프로젝트-2</span>
                                                                <i class="ico smPlus"></i>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr class="treegrid-4 treegrid-parent-3 depth3 expanded">
                                                        <td>
                                                            <div class="rootCont">
                                                                <span>수주 프로젝트-3</span>
                                                                <i class="ico smPlus"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="treegrid-5 treegrid-parent-4 depth4">
                                                        <td>
                                                            <div class="rootCont">
                                                                <span>수주 프로젝트-4</span>
                                                                <i class="ico smPlus"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="treegrid-5 treegrid-parent-4 depth4">
                                                        <td>
                                                            <div class="rootCont disabled"><!--비활성화클래스 disabled-->
                                                                <span>수주 프로젝트-4</span>
                                                                <i class="ico smPlus"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <button class="white full">+ Lv1 공통코드 추가</button>
                                    </div>
                                    <div class="right">
                                        <h5>메뉴상세 조회</h5>
                
                                        <div class="inputList flex">   
                                            <ul>
                                                <!--230510 추가 -ys -->
                                                <!-- <li class="nodata">
                                                    공통코드를 선택하세요.
                                                </li> -->
                                                <!--//230510 추가 -ys -->
                                                <li>
                                                    <label for="">코드레벨</label>
                                                    Level 1
                                                </li>
                                                <li>
                                                    <label class="need" for="">사용여부</label>
                                                    <div class="tabType midSize">
                                                        <input type="radio" id="americano1" name="coffee111" value="americano1" checked="">
                                                        <label for="americano1">사용</label>
                                                        <input type="radio" id="latte1" name="coffee111" value="latte1">
                                                        <label for="latte1">미사용</label>
                                                    </div>
                                                </li>
                
                                                <li>                    
                                                    <label class="need" for="kCodeNm">한글코드명</label>
                                                    <input type="text" class="full" id="kCodeNm" placeholder="코드명을 입력하세요.">                                                                                   
                                                </li>
                                                <li>
                                                    <label class="need" for="eCodeNm">영문코드명</label>
                                                    <input type="text" class="full" id="eCodeNm" placeholder="코드명을 입력하세요.">
                                                </li>
                                                <li>
                                                    <label for="array">정렬순서</label>
                                                    <input type="text" class="smSize" id="array">
                                                </li>
                
                                                <li>
                                                    <label for="">비고</label>
                                                    <textarea name="" id="" cols="70" rows="4" placeholder="내용 입력"></textarea> 
                                                </li>
                                                <li class="history">
                                                    <ul>
                                                        <li>
                                                            <p>수정</p>
                                                            <div class="flexBw">
                                                                <span>이길동(abcd@echoit.co.kr)</span>
                                                                <span>yyyy.mm.dd HH:MM</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <p>수정</p>
                                                            <div class="flexBw">
                                                                <span>이길동(abcd@echoit.co.kr)</span>
                                                                <span>yyyy.mm.dd HH:MM</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <p>수정</p>
                                                            <div class="flexBw">
                                                                <span>이길동(abcd@echoit.co.kr)</span>
                                                                <span>yyyy.mm.dd HH:MM</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <p>수정</p>
                                                            <div class="flexBw">
                                                                <span>이길동(abcd@echoit.co.kr)</span>
                                                                <span>yyyy.mm.dd HH:MM</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <p>최초등록</p>
                                                            <div class="flexBw">
                                                                <span>이길동(abcd@echoit.co.kr)</span>
                                                                <span>yyyy.mm.dd HH:MM</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                
                                        <div class="modalFooter">
                                            <button class="white prefix layerOpen" aria-controls="del-confirm">취소</button>
                                            <button class="suffix">저장</button>
                                        </div>
                                    </div>
                                </div>           
                            </div>
                        </div>     
                    </div>     
                </section>                
            </section>
        </section>
    </section>


    <!--동일메뉴명 팝업-->
    <div id="menu-confirm" class="modalLayer center">
        <div class="layerBox confirmType">
            <div class="modalHeader"><h4>안내사항</h4></div>
            <div class="modalCont center">
                동일한 메뉴명이 존재합니다.
            </div>
            <div class="modalFooter">
                <button class="layerClose">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//동일메뉴명 팝업-->

    <!--복사 팝업-->
    <div id="copy-confirm" class="modalLayer center">
        <div class="layerBox confirmType">
            <div class="modalHeader"><h4>안내사항</h4></div>
            <div class="modalCont center">
                선택하신 메뉴를 복사하시겠습니까?
            </div>
            <div class="modalFooter">
                <button class="white layerClose">취소</button>
                <button class="layerClose">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//복사 팝업-->
    
    <!--삭제 팝업-->
    <div id="del-confirm" class="modalLayer center">
        <div class="layerBox confirmType">
            <div class="modalHeader"><h4>안내사항</h4></div>
            <div class="modalCont center">
                하위에 속한 모든 코드도 삭제됩니다.<br>삭제하시겠습니까?
            </div>
            <div class="modalFooter">
                <button class="white layerClose">취소</button>
                <button class="layerClose">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//삭제 팝업-->
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/jquery.treegrid.min.js"></script>

    <script>        
        counting();
        $('.tree').treegrid();
    </script>
</body>
</html>