<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>

    <link rel="stylesheet" href="../assets/css/style.css">    
</head>

<body>
    <!--레이어팝업-->
    <!-- <a href="#layer01" class="layerOpen">팝업오픈 버튼(메일/문자보내기)</a> -->
    <button type="button" aria-controls="layer01" class="midSize layerOpen">팝업오픈 버튼(메일/문자보내기)</button>

    <div id="layer01" class="modalLayer center">
        <div class="layerBox">
            <div class="modalHeader">
                <button class="ico layerClose"></button>
            </div>
            <div class="modalCont">
                <div class="tabWrapper">
                    <ul class="tabBtnWrap btnType wideSize">
                        <li class="tabBtn">
                            <a href="#offer_message" class="is-active">문자</a>
                        </li>
                        <li class="tabBtn">
                            <a href="#offer_mail">메일</a>
                        </li>
                    </ul>
                    <div class="tabContWrap">
                        <div id="offer_message" class="tabCont is-active">

                            <div class="inputList">   
                                <ul>
                                    <!--220920 추가 -ys -->
                                    <li>
                                        <label class="need" for="receiver">제목</label>
                                        <input class="full" type="text" id="project" maxlength="" placeholder="메일 제목을 입력하세요.">
                                    </li>
                                    <!--//220920 추가 -ys -->
                                    <li>
                                        <label class="need" for="receiver">받는 사람</label>
                                        <div class="inputGroup">
                                            <div class="inputObj">
                                                <span>박예슬 (010-000-0000)</span>
                                                <button class="ico smClose w"></button>
                                            </div>
                                            <div class="inputObj is-active">
                                                <input type="text">
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
                                        <label for="receiver">첨부파일</label>

                                        <div class="uploadBox">
                                            <div class="inputGroup upload">
                                                <div class="drop">여기에 첨부 파일을 끌어오세요.</div>
                                                <div class="list">
                                                    <ul class="list_ul"></ul>
                                                </div>
                                            </div>
                                        
                                            <label for="cycleDocument" class="">또는 직접선택</label>
                                            <input type="file" name="cycleDocument" id="cycleDocument" class="" tabindex="" />
                                        </div>

                                        <p class="error is-active">jpg, jpeg 이미지만 첨부할 수 있습니다.</p> 
                                    </li>
                                    <li>
                                        <textarea name="" id="" rows="13"></textarea>
                                        <p class="counter">글자 수 <span>50</span>자</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="offer_mail" class="tabCont">
                            <div class="inputList">   
                                <ul>
                                    <!--220830 추가 -ys -->
                                    <li>
                                        <label class="need" for="receiver">제목</label>
                                        <input class="full" type="text" id="project" maxlength="" placeholder="메일 제목을 입력하세요.">
                                    </li>
                                    <!--//220830 추가 -ys -->
                                    <li>
                                        <label class="need" for="receiver">받는 사람</label>
                                        <div class="inputGroup">
                                            <div class="inputObj">
                                                <span>박예슬 (010-111-1111)</span>
                                                <button class="ico smClose w"></button>
                                            </div>
                                            <div class="inputObj is-active">
                                                <input type="text">
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
                                        <label for="receiver">첨부파일222</label>

                                        <div class="uploadBox">
                                            <div class="inputGroup upload">
                                                <div class="drop">여기에 첨부 파일을 끌어오세요.</div>
                                                <div class="list">
                                                    <ul class="list_ul"></ul>
                                                </div>
                                            </div>
                                        
                                            <label for="cycleDocument2" class="">또는 직접선택</label>
                                            <input type="file" name="cycleDocument" id="cycleDocument2" class="" tabindex="" />
                                        </div>

                                        <p class="error is-active">jpg, jpeg 이미지만 첨부할 수 있습니다.</p> 
                                    </li>
                                    <li>
                                        <textarea name="" id="" rows="13"></textarea>
                                        
                                        <!--220901 추가 -ys-->
                                        <div class="flexBw">
                                            <div class="prefix">
                                                <input type="checkbox" id="talkAlarm" name="aa" class="hasTxt" checked="">
                                                <label for="talkAlarm">카카오톡 알림도 함께 보내기</label>

                                                <span class="hasTooltip">
                                                    <i class="ico qMark"></i>
                                                    <div class="tooltip type2">
                                                        안녕하세요. 에코아이티입니다. <br>
                                                        회원님께 안내 메일을 발송했으니 확인해 주시기 바랍니다. <br>
                                                            <br>
                                                        * 메일주소 : {회원메일주소}<br>
                                                        * 메일제목 : {메일제목}<br>
                                                        <br>
                                                        감사합니다.
                                                    </div>       
                                                </span>
                                            </div>

                                            <p class="counter">글자 수 <span>50</span>자</p>
                                        </div>     
                                        <!--//220901 추가 -ys-->                                   
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalFooter">
                    <button class="white prefix">닫기</button>
                    <button class="suffix">문자보내기</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//레이어팝업-->

    <br>

    
    <!--레이어팝업 - 컨펌-->
    <!-- <a href="#layer02" class="layerOpen">컨펌팝업오픈(버튼 하나)</a> -->
    <button type="button" aria-controls="layer02" class="midSize layerOpen">컨펌팝업오픈(버튼 하나)</button>

    <div id="layer02" class="modalLayer center is-active">
        <div class="layerBox confirmType">
            <div class="modalHeader"><h4>안내사항</h4></div>
            <div class="modalCont">
                지원접수 및 투입이력은 회원개인 정보와 연동됩니다. 따라서 관리자 직접 추가 시 삭제가 불가합니다.
            </div>
            <div class="modalFooter">
                <button class="layerClose">취소</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//레이어팝업 - 컨펌-->


    <br>


    <!--레이어팝업 - 컨펌-->
    <!-- <a href="#layer03" class="layerOpen">컨펌팝업오픈(버튼 둘)</a> -->
    <button type="button" aria-controls="layer03" class="midSize layerOpen">컨펌팝업오픈(버튼 둘)</button>

    <div id="layer03" class="modalLayer center is-active">
        <div class="layerBox confirmType">
            <div class="modalCont center">메모를 삭제하시겠습니까?</div>
            <div class="modalFooter halfType">
                <button class="white layerClose">취소</button>
                <button class="layerClose">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//레이어팝업 - 컨펌-->


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>