<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 등록</title>
    
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="hasFooter">

    <section class="layoutWrapper">
        <header>
            <div class="prefix">
                <a href="#" class="logo">
                    <img src="../assets/img/icoLogo.png" alt="">
                </a>
            </div>
            <div class="center">
                <a href="#" class="is-active">My Project</a>
                <a href="#">My People</a>
            </div>
            <div class="suffix">
                <ul>
                    <li class="userTeam">
                        <a href="#">시스템통합사업본부 홍길동</a>
                    </li>
                    <li>
                        <a href="#">내정보 수정</a>
                        <a href="#" class="logState">로그아웃</a>
                    </li>
                </ul>
            </div>
        </header>

        <section class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li class="is-active"><a href="#"><i class="ico home"></i><span class="menuTxt">홈</span><i></i></a></li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">회원</span><i></i></a></li>
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">프로젝트</span><i></i></a></li>
                        <li><a href="#"><i class="ico homepage"></i><span class="menuTxt">홈페이지</span><i></i></a></li>
                        <li><a href="#"><i class="ico event"></i><span class="menuTxt">이벤트/배너</span><i></i></a></li>
                        <li><a href="#"><i class="ico ask"></i><span class="menuTxt">고객문의</span><i></i></a></li>
                        <li><a href="#"><i class="ico stats"></i><span class="menuTxt">통계</span><i></i></a></li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico commonCode"></i><span class="menuTxt">공통코드</span><i></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>   
        
        <section class="contWrapper noRight"><!--우측패널 없는 페이지-->
            <section class="contLayout">
                
                <section class="projRegister">

                    <div class="pageTit">
                        <h2>프로젝트 요청등록</h2>
                        <div class="breadCrumb">
                            <ul class="flex">
                                <li class="is-active" id="#"><a href="#regi0">기본정보</a></li>
                                <li id="#"><a href="#regi1">모집인원</a></li>
                                <li id="#"><a href="#regi2">근무환경</a></li>
                                <li id="#"><a href="#regi3">추가정보</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="regiPartWrapper">         
                        <div class="regiPart" id="regi0">
                            <h3>1. 프로젝트 기본정보</h3>
                            <div class="boxWrap">
                                <div class="inputList column half">   
                                    <ul class="hasTooltip">
                                        <li class="full">
                                            <!--221102 위치수정, 클래스추가 -ys-->
                                            <input type="checkbox" id="secretPay" name="secretPay" class="hasTxt">
                                            <label class="float_r" for="secretPay">대외비로 진행</label>
                                            <!--//221102 위치수정, 클래스추가 -ys-->
                                                                                        
                                            <!--221102 클래스추가 -ys-->
                                            <label class="need over_h" for="project">프로젝트 이름</label>
                                            <input class="need" type="text" id="project" maxlength="50" placeholder="프로젝트 이름" value="프로젝트 이름" disabled> 
                                                
                                            <div class="btnType">                                            
                                                <input type="radio" id="b1" name="aa" class="hasTxt btnType">
                                                <label for="b1">신규구축(SI)</label>
                                                <input type="radio" id="b2" name="aa" class="hasTxt btnType" checked="">
                                                <label for="b2">운영(SM)</label>
                                            </div>
                                        </li>
                                        <li>
                                            <label class="need" for="">요청회사</label>
                                            <input class="full" type="text" id="" maxlength="20" value="프로젝트 이름" disabled> 
                                        </li>
                                        <li>
                                            <label class="need" for="">요청자 이름</label>
                                            <input class="full" type="text" id=""> 
                                        </li>
                                        <li>
                                            <label class="need" for="">요청자 이메일</label>
                                            <input class="full" type="text" id="" maxlength="35"> 
                                        </li>
                                        <li>
                                            <label class="need" for="">연락처</label>
                                            <input class="full" type="text" id="" maxlength="11" placeholder="- 를 제외한 숫자만 입력하세요."> 
                                        </li>
                                        <li>
                                            <!--221102 위치수정, 클래스추가 -ys-->
                                                <!--220915 추가 -ys -->
                                                <input type="checkbox" id="projDate" name="projDate" class="hasTxt">
                                                <label class="float_r" for="projDate">미정</label>
                                                <!--//220915 추가 -ys -->
                                            <!--//221102 위치수정, 클래스추가 -ys-->   

                                            <!--221102 클래스추가 -ys-->
                                            <label class="need over_h" for="">프로젝트 시작희망일</label>
                                            <input class="full mr0" type="date" id="" maxlength="" placeholder="프로젝트 이름을 입력하세요."  onkeydown="return false" disabled> 
                                        </li>

                                        <!--220915 추가 -ys-->
                                        <div class="tooltip left is-active">
                                            <p>프로젝트 이름</p>
                                            진행하시려는 프로젝트의 이름을 입력해 주세요. 
                                            대외비 선택 시 프로젝트가 외부에 공개되지 않습니다. 
                                            <br>
                                            (예) 쇼핑몰 홈페이지 고도화
                                        </div>
                                        <div class="tooltip left line2 is-active">
                                            <p>요청회사</p>
                                            회사 이름을 입력해주세요. 
                                        </div>
                                        <div class="tooltip left line3 is-active">
                                            <p>요청자 이메일</p>
                                            요청하시는 분의 이메일 주소를 입력해주세요. 
                                            담당자가 연락하기 위해 사용됩니다.
                                        </div>
                                        <div class="tooltip left line4 is-active">
                                            <p>프로젝트 시작희망일</p>
                                            희망하시는 프로젝트 시작일자를 선택해주세요. 구인 정보에 활용됩니다.
                                        </div>
                                        <!--//220915 추가 -ys-->
                                    </ul>
                                </div>
                            </div>
                        </div>  
                        <div class="regiPart" id="regi1">
                            <h3>2. 모집인원</h3>
                            <div class="h3_sub">
                                모집하는 인력의 업무 포지션과 경력, 인건비를 입력해주세요.<br>그리고 각 직무에 해당하는 업무 내용과 주요 필수 요건이 있다면 입력해 주세요.
                            </div>
                            <!--221222 추가 -ys-->
                            <div class="flex mt20">
                                <button class="midSize">계약 및 투입 상세정보</button>
                                <button class="onlyIco"><i class="ico pull"></i></button>
                                <button class="onlyIco"><i class="ico push"></i></button>
                            </div>
                            <!--//221222 추가 -ys-->
                            <div class="">
                                <div class="boxWrap">
                                    <div class="inputList column row hasTooltip">   
                                        <ul>
                                            <li>
                                                <label class="need" for="">직군</label>
                                                <div class="select need">
                                                    <span class="selDefault">선택</span>
                                                    <ul class="optionList">
                                                        <li class="optionItem">PM</li>
                                                        <li class="optionItem">개발</li>
                                                        <li class="optionItem">기획</li>
                                                        <li class="optionItem">디자인</li>
                                                        <li class="optionItem">퍼블리싱</li>
                                                        <li class="optionItem">서비스데스크</li>
                                                        <li class="optionItem">OP</li>
                                                        <li class="optionItem">QA</li>
                                                        <li class="optionItem">네트워크/서버</li>
                                                        <li class="optionItem">SAP컨설팅</li>
                                                        <li class="optionItem">ABAP</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="need" for="project">직무</label>
                                                <div class="select wideSize disable">
                                                    <span class="selDefault">선택</span>
                                                    <ul class="optionList">
                                                        <li class="optionItem">열람</li>
                                                        <li class="optionItem">추천검토</li>
                                                        <li class="optionItem">인터뷰</li>
                                                        <li class="optionItem">최종합격</li>
                                                        <li class="optionItem">불합격</li>
                                                        <li class="optionItem">투입확정</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <label class="need" for="">등급</label>
                                                <div class="select">
                                                    <span class="selDefault">선택</span>
                                                    <ul class="optionList">
                                                        <li class="optionItem">초급</li>
                                                        <li class="optionItem">중급</li>
                                                        <li class="optionItem">고급</li>
                                                        <li class="optionItem">특급</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="need" for="">모집인원</label>
                                                <input class="smSize" type="text" id="" maxlength="" placeholder="00"> 
                                                <span>명</span>
                                            </li>
                                            <li>
                                                <label class="need" for="">단가</label>
                                                <input class="smSize" type="text" id="" maxlength="" placeholder=""><!--221222 추가 -ys--><!--230518 클래스추가 -ys-->
                                                <span>만원</span>
                                            </li>
                                        </ul>
                                        <ul class="row">
                                            <li>
                                                <textarea class="wideSize" name="" id="" rows="" disabled>gggggggggggggg</textarea>
                                            </li>
                                            <li class="flexBw">
                                                <div class="flexStr"><!--230421 추가 -ys-->
                                                    <button class="onlyIco">
                                                        <i class="ico refresh"></i>
                                                    </button>
                                                </div>
                                                <div class="flexEnd">
                                                    <button class="onlyIco">
                                                        <i class="ico minus"></i>
                                                    </button>
                                                    <button class="onlyIco">
                                                        <i class="ico plus"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>

                                        <!--220915 추가 -ys-->
                                        <div class="tooltip left is-active">
                                            <p>직군</p>
                                            모집하려는 업무 직군을 선택해주세요. 
                                            <br>
                                            (예) 개발, 기획, 디자인, 퍼블리싱

                                        </div>
                                        <!--//220915 추가 -ys-->

                                        <ul>
                                            <li>
                                                <label class="" for="">투입(예정)일</label><!--230518 need 제거 -ys-->
                                                <input class="" type="date" id="" maxlength="">
                                            </li>
                                            <li>
                                                <label class="" for="">종료(예정)일</label><!--230518 need 제거 -ys-->
                                                <input class="" type="date" id="" maxlength="">
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <label class="need" for="">요구스킬</label>


                                                <div class="inputGroup need">
                                                    <div class="inputObj">
                                                        <span>JSP</span>
                                                        <button class="ico smClose w"></button>
                                                    </div>
                                                    <div class="inputObj">
                                                        <span>Java</span>
                                                        <button class="ico smClose w"></button>
                                                    </div>
                                                    <div class="inputObj">
                                                        <span>javascript</span>
                                                        <button class="ico smClose w"></button>
                                                    </div>
                                                    <!--221004 자동완성 -ys-->
                                                    <div class="inputObj is-active">
                                                        <input type="text" class="midSize" id="inputBox" placeholder="(예) Java, JSP"><!--221213 클래스 추가 -ys -->
                                                    </div>
                                                    <!--//221004 자동완성 -ys-->
                                                </div>

                                                <!-- <div class="inputGroup autoType">
                                                    <div class="inputObj">
                                                        <span>JSP</span>
                                                        <button class="ico smClose w"></button>
                                                    </div>
                                                    <div class="inputObj is-active">
                                                        <input type="text" autocomplete="on" placeholder="예) Java, JSP 등">
                                                    </div>
                                                    220929 추가 -ys
                                                    <ul class="optionList">
                                                        <li class="optionItem">초급</li>
                                                        <li class="optionItem">중급</li>
                                                        <li class="optionItem">고급</li>
                                                        <li class="optionItem">특급</li>
                                                        <li class="optionItem">초급</li>
                                                        <li class="optionItem">중급</li>
                                                        <li class="optionItem">고급</li>
                                                        <li class="optionItem">특급</li>
                                                    </ul>
                                                    //220929 추가 -ys
                                                </div> -->
                                                
                                                <div class="alertToast is-active" id="toast01">
                                                    중요 프로젝트로 설정되었습니다.
                                                    <i class="ico smClose w"></i>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                        <!--220915 추가 -ys-->
                                        <div class="tooltip left line3 is-active">
                                            <p>투입(예정)일</p>
                                            투입 예정일을 선택해주세요. 추후 변경할 수 있습니다.
                                        </div>
                                        <!--//220915 추가 -ys-->
                                    </div>
                                </div>
                            </div>
                        </div>      
                        <div class="regiPart" id="regi2">
                            <h3>3. 근무환경</h3>
                            <div class="boxWrap">
                                <div class="inputList column row">  
                                    <!-- <h4 class="mb20">근무 장소가 어디인가요?</h4>  -->
                                    <ul class="hasTooltip">
                                        <li>
                                            <label class="need" for="">근무방식</label>
                                            <div class="select">
                                                <span class="selDefault">선택</span>
                                                <ul class="optionList">
                                                    <li class="optionItem">상주</li>
                                                    <li class="optionItem">비상주</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <label class="need" for="project">시/도</label>
                                            <div class="select wideSize">
                                                <span class="selDefault">전체</span>
                                                <ul class="optionList">
                                                    <li class="optionItem">열람</li>
                                                    <li class="optionItem">추천검토</li>
                                                    <li class="optionItem">인터뷰</li>
                                                    <li class="optionItem">최종합격</li>
                                                    <li class="optionItem">불합격</li>
                                                    <li class="optionItem">투입확정</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <label class="need" for="">군/구</label>
                                            <div class="select wideSize">
                                                <span class="selDefault">전체</span>
                                                <ul class="optionList">
                                                    <li class="optionItem">열람</li>
                                                    <li class="optionItem">추천검토</li>
                                                    <li class="optionItem">인터뷰</li>
                                                    <li class="optionItem">최종합격</li>
                                                    <li class="optionItem">불합격</li>
                                                    <li class="optionItem">투입확정</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="">상세주소                                            
                                                <input type="checkbox" id="closed" name="closed" class="hasTxt">
                                                <label for="closed">주소 비공개</label>
                                            </label>

                                            <input class="laSize" type="text" id="" maxlength="" placeholder="00"> 
                                        </li>
                                        
                                        <!--220915 추가 -ys-->
                                        <div class="tooltip left is-active">
                                            <p>주소비공개</p>
                                            모집공고에서 근무 장소가 비공개로 처리되며, 채용확정 후 공개됩니다.
                                        </div>
                                        <!--//220915 추가 -ys-->
                                    </ul>
                                    <!-- <h4 class="need mb20 mt30">근무 시간을 선택해 주세요</h4> !--220920 클래스 추가 -ys-- -->
                                    <h6 class="need">근무 시간을 선택해 주세요</h6><!--230519 수정 -ys-->
                                    <ul class="gap20">
                                        <li>
                                            <div class="select">
                                                <span class="selDefault">09시</span>
                                                <ul class="optionList">
                                                    <li class="optionItem">열람</li>
                                                    <li class="optionItem">추천검토</li>
                                                    <li class="optionItem">인터뷰</li>
                                                    <li class="optionItem">최종합격</li>
                                                    <li class="optionItem">불합격</li>
                                                    <li class="optionItem">투입확정</li>
                                                    <li class="optionItem">열람</li>
                                                    <li class="optionItem">추천검토</li>
                                                    <li class="optionItem">인터뷰</li>
                                                    <li class="optionItem">최종합격</li>
                                                    <li class="optionItem">불합격</li>
                                                    <li class="optionItem">투입확정</li>
                                                </ul>
                                            </div>
                                            <div class="select">
                                                <span class="selDefault">00분</span>
                                                <ul class="optionList">
                                                    <li class="optionItem">열람</li>
                                                    <li class="optionItem">추천검토</li>
                                                    <li class="optionItem">인터뷰</li>
                                                    <li class="optionItem">최종합격</li>
                                                    <li class="optionItem">불합격</li>
                                                    <li class="optionItem">투입확정</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="lh30">~</li>
                                        <li>
                                            <div class="select">
                                                <span class="selDefault">18시</span>
                                                <ul class="optionList">
                                                    <li class="optionItem">열람</li>
                                                    <li class="optionItem">추천검토</li>
                                                    <li class="optionItem">인터뷰</li>
                                                    <li class="optionItem">최종합격</li>
                                                    <li class="optionItem">불합격</li>
                                                    <li class="optionItem">투입확정</li>
                                                </ul>
                                            </div>
                                            <div class="select">
                                                <span class="selDefault">00분</span>
                                                <ul class="optionList">
                                                    <li class="optionItem">열람</li>
                                                    <li class="optionItem">추천검토</li>
                                                    <li class="optionItem">인터뷰</li>
                                                    <li class="optionItem">최종합격</li>
                                                    <li class="optionItem">불합격</li>
                                                    <li class="optionItem">투입확정</li>
                                                </ul>
                                            </div>  
                                        </li>
                                        <li>                                                                         
                                            <input type="checkbox" id="pay" name="pay" class="hasTxt">
                                            <label for="pay" class="lh30">협의</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>        
                        <div class="regiPart" id="regi3">
                            <h3>4. 추가정보</h3>
                            <div class="boxWrap">
                                <div class="inputList">   
                                    <div class="h3_sub">
                                        프로젝트와 관련된 자료를 첨부해 주세요.<br>첨부하신 자료는 외부로 공유되지 않으며 프로젝트 분석과 인력 매칭을 위해서만 사용됩니다.
                                    </div>
                                    <ul>
                                        <li class=""><!--230116 클래스 삭제 -ys -->
                                            <!--220824 수정 -ys -->
                                            <div class="uploadBox">
                                                <div class="inputGroup upload wide">
                                                    <div class="drop">
                                                        <i class="ico fileUpload"></i>
                                                        <label for="fileUpload">
                                                            RFP, 기획서, 스토리보드 등 프로젝트를 파악할 수 있는 자료를<br>
                                                            여기에 첨부해 주세요. (파일 최대 5개, 100MB이하)
                                                        </label>
                                                    </div>
                                                    <div class="list">
                                                        <ul class="list_ul">
                                                            <li>
                                                                <div class="prefix">testt esttestte stesttetestt esttestte sttesttetestt esttestte sttesttetestt estteste sttesttet.pdf</div>
                                                                <div class="volume">54.6KB</div>
                                                                <i class="ico delete"></i>
                                                            </li>
                                                            <li>
                                                                <div class="prefix">tes.pdf</div>
                                                                <div class="volume">54.6KB</div>
                                                                <i class="ico delete"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            
                                                <label for="cycleDocument22" class="">직접선택</label>
                                                <input type="file" name="cycleDocument22" id="cycleDocument22" class="" tabindex="" />
                                            </div>
                                            <!--//220824 수정 -ys -->

                                            
                                            <!--230116 수정 -ys -->
                                            <p class="error is-active">실행가능한 파일은 보안의 이유로 첨부하실 수 없습니다.</p>
                                            <p class="error is-active">파일은 최대 5개까지 첨부할 수 있습니다.</p>
                                            <p class="error is-active">파일은 최대 100mb까지 첨부할 수 있습니다.</p>
                                            <!--//230116 수정 -ys -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="inputList column half"> 
                                    <ul class="hasTooltip">
                                        <li>
                                            <h4>프로젝트 소개</h4>
                                            <textarea class="xlSize" name="" id="" rows="10"></textarea>
                                        </li>
                                        <li>
                                            <h4>기타 참고사항</h4>
                                            <textarea class="xlSize" name="" id="" rows="10"></textarea>
                                        </li>
                                        <li>
                                            <h4>프로젝트를 잡잡 직원과 먼저 의논하셨나요?<br>또는 추천을 받으셨나요?</h4>
                                            <input class="xlSize" type="text" id="" maxlength="" placeholder="직원 이름 입력">
                                        </li>
                                        
                                        <!--220915 추가 -ys-->
                                        <div class="tooltip left line1 is-active">
                                            <p>프로젝트 소개</p>
                                            담당자가 파악할 수 있도록 프로젝트를 설명해주세요.
                                        </div>
                                        <!--//220915 추가 -ys-->
                                        
                                        <!--220915 추가 -ys-->
                                        <div class="tooltip left line4 is-active">
                                            <p>추천인 정보</p>
                                            잡잡 본사 직원과 먼저 이야기를 나누셨거나, 추천 직원이 있다면 입력해주세요. 
                                            <br>프로젝트 진행 시 해당 담당자가 우선 배정 됩니다.
                                        </div>
                                        <!--//220915 추가 -ys-->
                                    </ul>
                                </div>
                            </div>
                        </div>     
                    </div>     

                    <footer class="toast is-active">
                        <h3>이 프로젝트의 진행 여부를 판단하세요.</h3>
                        <div class="suffix">
                            <button class="xlSize">공고등록</button>
                            <button class="white xlSize">공고수정</button>
                            <button class="warning xlSize">진행불가</button>
                        </div>
                    </footer>

                </section>
                
            </section>
        </section>

    </section>

    <!--플로팅메뉴-->
    <div class="floatingWrapper">
        <div class="floating">
            <h5>이 프로젝트의 상태를</h5>
            <div class="select lowSize"><!--220829 수정 -ys-->
                <span class="selDefault">선택</span>
                <ul class="optionList">
                    <li class="optionItem">의뢰단계</li>
                    <li class="optionItem">접수</li>
                    <li class="optionItem">접수취소<p>(접수 이후 부터 노출)</p></li>
                    <li class="optionItem">검토중</li>
                    <li class="optionItem">보안요구</li>
                    <li class="optionItem">불가</li>

                    <li class="optionItem">진행</li>
                    <li class="optionItem">무산</li>
                    <li class="optionItem">종료</li>
                </ul>
            </div>
            <h5>영업담당자</h5>
            <div class="select lowSize"><!--220829 수정 -ys-->
                <span class="selDefault">선택</span>
                <ul class="optionList hasChk"><!--220920 추가 -ys-->
                    <li class="optionItem">
                        <input type="checkbox" id="optChk_1" name="aa" class="hasTxt">
                        <label for="optChk_1">apple</label>
                    </li>                    
                    <li class="optionItem">
                        <input type="checkbox" id="optChk_2" name="aa" class="hasTxt">
                        <label for="optChk_2">banana</label>
                    </li>
                    <li class="optionItem">
                        <input type="checkbox" id="optChk_3" name="aa" class="hasTxt">
                        <label for="optChk_3">grape</label>
                    </li>
                    <li class="optionItem">
                        <input type="checkbox" id="optChk_4" name="aa" class="hasTxt">
                        <label for="optChk_4">mango</label>
                    </li>
                </ul>
            </div>
            <h5>소싱담당자</h5>
            <div class="select lowSize"><!--220829 수정 -ys-->
                <span class="selDefault">선택</span>
                <ul class="optionList hasChk"><!--220920 추가 -ys-->
                    <li class="optionItem">
                        <input type="checkbox" id="optChk_11" name="aa" class="hasTxt">
                        <label for="optChk_11">apple</label>
                    </li>
                    
                    <li class="optionItem">
                        <input type="checkbox" id="optChk_12" name="aa" class="hasTxt">
                        <label for="optChk_12">banana</label>
                    </li>
                    <li class="optionItem">
                        <input type="checkbox" id="optChk_13" name="aa" class="hasTxt">
                        <label for="optChk_13">grape</label>
                    </li>
                    <li class="optionItem">
                        <input type="checkbox" id="optChk_14" name="aa" class="hasTxt">
                        <label for="optChk_14">mango</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="floating">
            <h5>이 프로젝트를</h5>
            <button class="white lowSize">삭제</button>
            <button class="white lowSize">임시저장</button>
            <!-- <button class="midSize" id="saveBtn">저장</button> -->
            <button class="lowSize" id="saveBtn">저장</button><!--230102 추가 -ys-->
            <button class="lowSize" id="saveBtn">저장</button>
        </div>
    </div>
    <!--//플로팅메뉴-->

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script><!--221004 추가 -ys-->
    <script src="../assets/js/script.js"></script>
    <!-- <script src="../assets/js/layerPopup.js"></script>
    <script src="../assets/js/validator.js"></script> -->

    <!-- <script scr="../assets/js/jquery-ui.js"></script> -->

    <script>
        /* 221004 자동완성 -ys */
        // $(document).ready(function() {
        //     var inputSource = ['java', 'javascript', 'jsp', 'photoshop', 'ajax', 'django'];

        //     $('#inputBox').autocomplete({
        //         source : inputSource,
        //         minLength : 1
        //     });
            
        //     var inputBox = document.querySelector('#inputBox');
        //     inputBox.addEventListener("focus", downArrow);

        //     $( ".ui-menu" ).autocomplete({
        //         appendTo: "#inputBox"
        //     });

        //     //221215 스크롤시 자동완성 사라짐 -ys 
        //     $('.regiPartWrapper').scroll(function() {
        //         $('.ui-menu').css('display', 'none');
        //     });
        // });

        // function downArrow() {
        //     var event = document.createEvent("Event");
        //     event.initEvent("keydown", true, true);
        //     event.keyCode = 40
        //     document.getElementById("inputBox").dispatchEvent(event);
        // };
        /* //221004 자동완성 -ys */

        // $("#saveBtn").click(function () { 
        // 	const essentialArr = ['프로젝트 이름','요청회사','요청자 이름','요청자 이메일','연락처','프로젝트 시작희망일' ,'직군','직무','등급','모집인원','단가','투입(예정)일','종료(예정)일','근무방식','시/도','군/구'];
        // 	validatorContainsCheck(essentialArr);
        //  });
        //  validatorContainsCheck();
    </script>

    <script>

    function regiScroll(){        
        let regiPartWrapper = document.querySelector('.regiPartWrapper');
        let breadCrumbs = document.querySelectorAll('.breadCrumb li');
        
        regiPartWrapper.addEventListener('scroll',function(){

            for(let i=0; i<breadCrumbs.length; i++){
                breadCrumbs[i].classList.remove('is-active');
                let target = document.getElementById('regi' + i).getBoundingClientRect().top;
                if(target <150){
                    for(let j=0; j<breadCrumbs.length; j++){
                        breadCrumbs[j].classList.remove('is-active');
                    }
                    breadCrumbs[i].classList.add('is-active');
                }

            }
        });
    }
    regiScroll();


    
    //푸터보이기
    function showFooter(){
        let regiPartWrapper = document.querySelector('.regiPartWrapper');
        let regiPart = document.querySelectorAll('.regiPart');
        //let regi3Top = regiPart[3].offsetTop;
        let toast = document.querySelector('.toast');

        for(let i=0; i<regiPart.length; i++){            
            regiPartWrapper.addEventListener('scroll', function(e){
                e.preventDefault();

                if(regiPartWrapper.scrollTop > 1500){
                    toast.classList.add('is-active');
                }else{
                    toast.classList.remove('is-active');
                }
            })
        }
    }
    //showFooter();
    </script>

    <script>
        selectBox();
    </script>

    <!-- <script>
        
    function inputAuto(){        
        let autoType = document.querySelectorAll('.inputObj.is-active');
        let optList = document.querySelectorAll('.autoType .optionList');
        for(let i=0; i<autoType.length; i++){         
            autoType[i].addEventListener('click', function(e){
                optList[i].classList.add('is-active');

                let optionList_active = document.querySelector('.optionList.is-active');
                optionList_active.addEventListener('keydown', function(){
                    var x;
                    switch(event.keyCode){
                        case 37:
                            x="좌측버튼";
                            break;
                        case 38:
                            x="상단버튼";
                            break;
                        case 39:
                            x="우측버튼";
                            break;
                        case 40:
                            x="하단버튼";
                            break;
                    }
                    console.log("입력버튼은" , x);
                })
            });
        }
    }
    inputAuto();
    </script> -->
</body>
</html>