<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>권한관리</title>
    
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="hasFooter">

    <section class="layoutWrapper">
        <header>
            <div class="prefix">
                <a href="#" class="logo">
                    <img src="../assets/img/icoLogo.png" alt="">
                </a>
            </div>
            <div class="suffix">
                <ul>
                    <li class="userTeam"><a href="#">시스템통합사업본부 홍길동</a></li>
                    <li><a href="#">내정보 수정</a></li>
                    <li>
                        <span aria-controls="showLevel" class="layerOpen">등급보기설정
                    </span></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
        </header>

        <section class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li class="is-active"><a href="#"><i class="ico home"></i><span class="menuTxt">홈</span><i></i></a></li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">회원</span><i></i></a></li>
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">프로젝트</span><i></i></a></li>
                        <li><a href="#"><i class="ico homepage"></i><span class="menuTxt">홈페이지</span><i></i></a></li>
                        <li><a href="#"><i class="ico event"></i><span class="menuTxt">이벤트/배너</span><i></i></a></li>
                        <li><a href="#"><i class="ico ask"></i><span class="menuTxt">고객문의</span><i></i></a></li>
                        <li><a href="#"><i class="ico stats"></i><span class="menuTxt">통계</span><i></i></a></li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico commonCode"></i><span class="menuTxt">공통코드</span><i></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>   
        
        <section class="contWrapper noRight"><!--우측패널 없는 페이지-->
            <section class="contLayout">
                
                <section class="rightAdmin">
                    <div class="pageTit">
                        <h2>권한관리</h2>
                    </div>
                    
                    <div class="regiPartWrapper noInfo">        
                        <div class="regiPart">                         
                            <div class="boxWrap noTit">  
                                <div class="infoList">
                                    <ul>
                                        <li>
                                            <h6>사용자</h6>
                                            <div class="tabType">
                                                <input type="radio" id="echoit" name="userType" value="menuAdmin" checked="">
                                                <label for="echoit">에코아이티</label>
                                                <input type="radio" id="coComp" name="userType" value="menuFront">
                                                <label for="coComp">협력사</label>
                                            </div>
                                            <div class="hasBtn full">
                                                <input type="text" maxlength="" placeholder="역할그룹 검색">
                                                <button class="midSize">검색</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>



                                <div class="divideBox">
                                    <div class="left">
                                        <h5>역할그룹</h5>

                                        <div class="btnType full">
                                            <input type="radio" id="role1" name="roleGroup" value="role1" checked="">
                                            <label for="role1">영업관리자</label>
                                            
                                            <input type="radio" id="role2" name="roleGroup" value="role2" disabled><!--비활성화 disabled-->
                                            <label for="role2">영업담당</label>
                                            
                                            <input type="radio" id="role3" name="roleGroup" value="role3">
                                            <label for="role3">소싱관리자</label>
                                            
                                            <input type="radio" id="role4" name="roleGroup" value="role4">
                                            <label for="role4">소싱담당</label>
                                            
                                            <input type="radio" id="role5" name="roleGroup" value="role5">
                                            <label for="role5">시스템관리자</label>
                                            
                                            <input type="radio" id="role6" name="roleGroup" value="role6">
                                            <label for="role6">시스템담당</label>
                                            
                                            <input type="radio" id="role7" name="roleGroup" value="role7">
                                            <label for="role7">일반</label>
                                            
                                            <input type="radio" id="role3" name="roleGroup" value="role3">
                                            <label for="role3">소싱관리자</label>
                                            
                                            <input type="radio" id="role4" name="roleGroup" value="role4">
                                            <label for="role4">소싱담당</label>
                                            
                                            <input type="radio" id="role5" name="roleGroup" value="role5">
                                            <label for="role5">시스템관리자</label>
                                            
                                            <input type="radio" id="role6" name="roleGroup" value="role6">
                                            <label for="role6">시스템담당</label>
                                            
                                            <input type="radio" id="role7" name="roleGroup" value="role7">
                                            <label for="role7">일반</label>
                                        </div>
                                        <button class="white full">+ Lv1 공통코드 추가</button>
                                    </div>
                                    <div class="right">
                                        <h5>메뉴/화면권한</h5>
                
                                        <div class="inputList flex">   
                                            <ul>
                                                <li>
                                                    <label class="need" for="">사용여부</label>
                                                    <div class="flexBw">                                                        
                                                        <input type="text" maxlength="" value="영업관리자">
                                                        <button class="midSize">저장</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                
                                        <div class="tableBox">
                                            <table class="groupType">
                                                <colgroup>
                                                    <col width="6%">
                                                    <col width="20%">
                                                    <col width="30%">
                                                    <col width="6%">
                                                    <col>
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input type="checkbox" id="chkAll-1" class="chkAll">
                                                            <label for="chkAll-1"></label>
                                                        </th>
                                                        <th>1Depth</th>
                                                        <th>2Depth</th>
                                                        <th>
                                                            <input type="checkbox" id="chkAll-3" class="chkAll">
                                                            <label for="chkAll-3"></label>
                                                        </th>
                                                        <th>화면권한</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" id="chk_1" class="chkEach" checked="">
                                                            <label for="chk_1"></label>
                                                        </td>
                                                        <td>홈</td>
                                                        <td>My Project</td>
                                                        <td>
                                                            <input type="checkbox" id="chk_2" class="chkEach" checked="">
                                                            <label for="chk_2"></label>
                                                        </td>
                                                        <td>My Project</td>
                                                    </tr>
                                                    <tr class="group"><!--1depth가 끝나는 tr에 클래스 추가-->
                                                        <td></td>
                                                        <td></td>
                                                        <td>My Project</td>
                                                        <td>
                                                            <input type="checkbox" id="chk_3" class="chkEach">
                                                            <label for="chk_3"></label>
                                                        </td>
                                                        <td>My Project</td>
                                                    </tr>


                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" id="chk_4" class="chkEach" checked="">
                                                            <label for="chk_4"></label>
                                                        </td>
                                                        <td>회원</td>
                                                        <td>일반회원</td>
                                                        <td>
                                                            <input type="checkbox" id="chk_5" class="chkEach" checked="">
                                                            <label for="chk_5"></label>
                                                        </td>
                                                        <td>일반회원(목록)</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="checkbox" id="chk_6" class="chkEach">
                                                            <label for="chk_6"></label>
                                                        </td>
                                                        <td>회원등록</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="checkbox" id="chk_7" class="chkEach" checked="">
                                                            <label for="chk_7"></label>
                                                        </td>
                                                        <td>회원상세</td>
                                                    </tr>
                                                    <tr class="group">
                                                        <td></td>
                                                        <td></td>
                                                        <td>가용자 관리</td>
                                                        <td>
                                                            <input type="checkbox" id="chk_8" class="chkEach">
                                                            <label for="chk_8"></label>
                                                        </td>
                                                        <td>가용자 관리(목록)</td>
                                                    </tr>

                                                    
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" id="chk_9" class="chkEach">
                                                            <label for="chk_9"></label>
                                                        </td>
                                                        <td>프로젝트</td>
                                                        <td>프로젝트 의뢰목록</td>
                                                        <td>
                                                            <input type="checkbox" id="chk_10" class="chkEach">
                                                            <label for="chk_10"></label>
                                                        </td>
                                                        <td>프로젝트 의뢰목록</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="checkbox" id="chk_11" class="chkEach">
                                                            <label for="chk_11"></label>
                                                        </td>
                                                        <td>프로젝트 등록</td>
                                                    </tr>
                                                    <tr class="group">
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="checkbox" id="chk_12" class="chkEach">
                                                            <label for="chk_12"></label>
                                                        </td>
                                                        <td>프로젝트 상세</td>
                                                    </tr>

                                                    
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" id="chk_13" class="chkEach">
                                                            <label for="chk_13"></label>
                                                        </td>
                                                        <td>시스템관리</td>
                                                        <td>문자/메일 발송이력</td>
                                                        <td>
                                                            <input type="checkbox" id="chk_14" class="chkEach">
                                                            <label for="chk_14"></label>
                                                        </td>
                                                        <td>문자/메일 발송이력(목록)</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="checkbox" id="chk_15" class="chkEach">
                                                            <label for="chk_15"></label>
                                                        </td>
                                                        <td>문자/메일 발송이력(상세)</td>
                                                    </tr>
                                                    <tr class="group">
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="checkbox" id="chk_16" class="chkEach">
                                                            <label for="chk_16"></label>
                                                        </td>
                                                        <td>프로젝트 상세</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>           
                            </div>
                        </div>     
                    </div>     
                </section>                
            </section>
        </section>
    </section>


    <!--동일메뉴명 팝업-->
    <div id="menu-confirm" class="modalLayer center">
        <div class="layerBox confirmType">
            <div class="modalHeader"><h4>안내사항</h4></div>
            <div class="modalCont center">
                동일한 메뉴명이 존재합니다.
            </div>
            <div class="modalFooter">
                <button class="layerClose">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//동일메뉴명 팝업-->

    <!--복사 팝업-->
    <div id="copy-confirm" class="modalLayer center">
        <div class="layerBox confirmType">
            <div class="modalHeader"><h4>안내사항</h4></div>
            <div class="modalCont center">
                선택하신 메뉴를 복사하시겠습니까?
            </div>
            <div class="modalFooter">
                <button class="white layerClose">취소</button>
                <button class="layerClose">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//복사 팝업-->
    
    <!--삭제 팝업-->
    <div id="del-confirm" class="modalLayer center">
        <div class="layerBox confirmType">
            <div class="modalHeader"><h4>안내사항</h4></div>
            <div class="modalCont center">
                하위에 속한 모든 코드도 삭제됩니다.<br>삭제하시겠습니까?
            </div>
            <div class="modalFooter">
                <button class="white layerClose">취소</button>
                <button class="layerClose">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//삭제 팝업-->
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/jquery.treegrid.min.js"></script>

    <script>        
        counting();
        $('.tree').treegrid();
    </script>
</body>
</html>