<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB TEMP</title>
    <style>
        h1{
            padding: 10px;
            text-align: center;
            border: 2px solid #000;
        }
        h3{
            padding: 10px;
            margin: 0;
        }
        
        header {width: 100%;height:20px;}
        header p.topline  {    
            position:relative;        
            content: '';
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: #ccc;
        }
        header p.topline img  {            
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }
        .TopWrap{}
        .TopWrap table.head {border: 0px solid #333;margin-top:15px;}    
        .TopWrap table.head tr td {border: 1px dashed #666;text-align: center;}     

        .tableWrap{padding:10px;}
        .flex{display: flex}
        .flex table + table{margin-left:10px;flex-shrink: 1.5;}
        table{
            table-layout: fixed;
            border-collapse: collapse;
            color: #222;
            font-size:12px;
            width: 100%;
        }
        table tr{}
        table tr td,
        table tr th{
            font-size:13px;
            padding: 0 10px;
            height: 27px;
            border: 1px solid #999;
        }
        table tr td{}
        table tr td.right{text-align: right;}
        table tr th.left{text-align: left;}
        table tr th{text-align: center;font-size: 13px; color:#000;padding: 2px 10px;}
        table tr th.title {background-color: #ededed;}
    </style>
</head>
<body>    
    <header><p class="topline"><img class="right" src="../assets/img/echoit_ci_kor.png"></p></header>
    <div class="TopWrap">
        <table class="head">
            <tbody>
                <tr>
                    <td><h2>개 인 이 력 카 드</h2></td>
                </tr>
            </tbody>
        </table>    
    </div>
    <div class="tableWrap" style="margin-top:10px;">
        <table>
            <tbody>
                <tr>
                    <th>성명</th>
                    <td colspan="2"></td>
                    <th>생년월일</th>
                    <td colspan="2"></td>
                    <th>성별</th>
                    <td></td>
                </tr>
                <tr>
                    <th>소속회사</th>
                    <td colspan="3"></td>
                    <th>입사일</th>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th>부서</th>
                    <td></td>

                    <th>직위</th>
                    <td></td>

                    <th>경력</th>
                    <td></td>

                    <th>기술등급</th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 전화 -->
    <div class="tableWrap" style="margin-top:10px;">
        <table>
            <colgroup>
                <col width="15%;">   
                <col>        
                <col>        
            </colgroup>
            <tbody>
                <tr>
                    <th class="title">전화</th>
                    <td>(유선)</td>
                    <td>(무선)</td>
                </tr>
                <tr>
                    <th class="title">E - Mail</th>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th class="title">주소</th>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- 졸업, 자격증 -->
    <div class="tableWrap flex" style="margin-top:15px;">
        <table>
            <tbody>
                <tr>
                    <td class="right">고등학교 졸업 <span style="margin-left:50px;"></span>년  <span style="margin-left:25px;">월</span></td>
                </tr>
                <tr>
                    <td class="right">대학교 졸업 <span style="margin-left:50px;"></span>년  <span style="margin-left:25px;">월</span></td>
                </tr>
            </tbody>
        </table>

        <table>
            <colgroup>
                <col width="60%;">        
                <col>
            </colgroup>  
            <thead>
                <tr>
                    <th class="title">자격증명</th>
                    <th class="title">취득일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 경력 -->
    <div class="tableWrap" style="margin-top:15px;">
        <table>
            <colgroup>
                <col>        
                <col>        
                <col width="15%;">   
                <col>        
            </colgroup>
            <thead>
                <tr>
                    <th class="title">회사명</th>
                    <th class="title">기간</th>
                    <th class="title">직위</th>
                    <th class="title">담당업무</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- 교육, 기술 -->
    <div class="tableWrap flex" style="margin-top:15px;">
        <table>
            <colgroup>
                <col width="35%;">         
                <col> 
                <col> 
                <col width="27%;">        
            </colgroup>
            <thead>
                <tr>
                    <th class="title">교육명</th>
                    <th class="title">시작일</th>
                    <th class="title">종료일</th>
                    <th class="title">기관</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <table>
            <colgroup>
                <col width="65%;">         
                <col>       
            </colgroup>
            <thead>
                <tr>
                    <th class="title">사용기술</th>
                    <th class="title">숙련도</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


    <h3 style="margin-top:20px;">SKILL INVENTORY</h3>
    <div class="tableWrap">
        <table>
            <colgroup>
                <col>         
                <col width="10%;">
                <col width="8%;">
                <col width="9%;">
                <col width="7%;">
                <col width="5%;">
                <col width="8%;">
                <col width="5%;">
                <col width="8%;">   
                <col width="8%;">
                <col width="5%;"> 
                <col width="8%;">    
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="2" class="title">프로젝트명<br>(업무명)</th>
                    <th rowspan="2" class="title">참여기간</th>
                    <th rowspan="2" class="title">고객사</th>
                    <th rowspan="2" class="title">근무회사</th>
                    <th rowspan="2" class="title">역 할</th>
                    
                    <th colspan="7" class="title">개발환경</th>
                </tr>
                <tr>
                    <th class="title">기종</th>
                    <th class="title">OS</th>
                    <th class="title">언어</th>
                    <th class="title">DBMS</th>
                    <th class="title">TOOL</th>
                    <th class="title">통신</th>
                    <th class="title">기타</th>
                </tr>
            </thead>    
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--기타-->
    <div class="tableWrap">
        <table>
            <colgroup>
                <col width="30%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th class="left">
                        기타<br>(활용가능한 S/W 및 기법, FrameWork)
                    </th>
                    <td>
                        <ul>
                            <li>Language :  </li>
                            <li>프레임워크 : </li>
                            <li>DB :</li>
                            <li>OS :</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>